.DS_Store
node_modules
vue2/dist
vue2/lib
vue3/dist
vue3/lib
.temp
/docs/.vuepress/dist


# local env files
.env.local
.env.*.local

# Log files
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Editor directories and files
.idea
.vscode
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
