.lottery_flex{display: flex;}
.lottery_flex-center{display: flex; justify-content: center; align-items: center;}
.lottery_flex-between{display: flex; justify-content: space-between;}
.lottery_column{flex-direction: column;}
.lottery_shrink{flex-shrink: 0;}
.lottery_wrap{flex-wrap: wrap;}

.lottery_pointer{cursor: pointer;}